.horizontalcssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: normal 14px Tahoma, Geneva, sans-serif;
}

/*Top level list items*/
.horizontalcssmenu ul li{
position: relative;
display: inline;
//*background-image: url(images/menuitembg.png);*/
float:left;
text-align:center;

}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
display: block;
width: 90px; /*Width of top level menu link items*/
padding: 2px 8px;
border-left-width: 0;
text-decoration: none;
/*background: url(images/blackglossy.png) center center repeat-x;*/
color: #303;
font: solid 12px Tahoma, Geneva, sans-serif;
}
	
/*Sub level menu*/
.horizontalcssmenu ul li ul{
left: 0;
top: 0;
border-top: 1px solid #202020;
position: absolute;
display: block;
visibility: hidden;
z-index:100;
}
#cssmenu1 li a{
color:#003;
}
/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
display: inline;
float: left;
border-left: 1px solid #333;
border-right: 1px solid #333;
}
.menubottom{
	border-bottom: 1px solid #333;
}

/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
width: 90px; /*width of sub menu levels*/
font-weight: normal;
padding: 2px 5px;
background-image: url(images/menuitembg.png);

z-index:100;
}

.horizontalcssmenu ul li a:hover{
background: url(images/blackglossy.png) center center repeat-x;
z-index:100;
}

.horizontalcssmenu ul li ul li a:hover{
background-image:url(images/blackglossy.png);
}

.horizontalcssmenu .arrowdiv{
position: absolute;
right: 0;
background: transparent url(images/) no-repeat center left;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li {  height: 25px; }
* html .horizontalcssmenu ul li a { height: 25px; }
/* End */